.container{
    margin-bottom: 100px;
}
.orange-background{
    background-color: #feeae9;
    border-radius: 10px;
    
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.btn-danger{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;

}
.cat1,.cat2,.cat3{
    padding: 10px 30px;
}

.cat1{
    background-color: orange;
    border-radius: 10px;
}.cat2{
    background-color: orchid;
    border-radius: 10px;
}
.cat3{
    background-color: blue;
    border-radius: 10px;

}
.cat-h1{
    color: white;
}
.categories img{
    width: 100px;


}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.input-field{
    height: 300px;
    background-color: #feeae9;
    margin-top: 100px;
    border-radius: 10px;
    
}
.input-padding{
    
    padding-left: 500px;
    padding-top: 70px;
    margin-top: 100px;
}
.input{
    width: 290px;
    height: 40px;
    border-radius: 5px;
}
.text-color{
    color: gray;
    font-weight: 600;
}
#subscribe{
    height: 300px;
    margin-top: 100px;
}
#subscribe h6{
    color: gray;
}